* {
    margin: 0;
    border: none;
    outline: none;
    font-family: 'Space Mono', 'Inconsolata', monospace, sans-serif;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #1e1e1e;
}

.bg-main {
    background-color: #272727;
}

body {
    background-color: #1e1e1e;
}

html {
    overflow-y: hidden;
}

.nav {
    background-color: #1e1e1e;
}

.editor {
    height: 100vh;
    width: auto;
}

.tabs {
    height: 2em;
    width: 50%;
    border: 1px solid #272727;
    margin-left: auto;
    margin-right: 10em;
}

.tab {
    border: 1px solid #363636;
    transition-duration: .22s;
    cursor: pointer;
}

.tab:hover {
    background-color: #2e2e2e;
    border: 1px solid #626262;
}

.text--small {
    font-size: 1rem;
    border-right: 1px solid #363636;
    white-space: nowrap;
}

iframe {
    background-color: white;
    margin: 0;
}

.run-pg {
    background-color: #4b7bff;
}

.run-pg:hover {
    background-color: #3564e7;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-400 {
    font-weight: 400;
}

#tooltipdemo {
    position: relative;
}

#tooltipdemo:hover::after {
    transition-delay: 0.5s;
    opacity: 100%;
    content: "Update and run given code to output";
    position: absolute;
    top: 2.4em;
    left: 1em;
    border: 1px #5c5c5c solid;
    padding: 8px;
    color: rgb(202, 202, 202);
    background-color: #363636;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 18px;
    text-transform: capitalize;
    cursor: default;
}

#tooltipdemo2 {
    position: relative;
}

#tooltipdemo2:hover::after {
    transition-delay: 0.5s;
    opacity: 100%;
    content: "Click to add selected boiler plate example to preview";
    text-align: left;
    position: absolute;
    top: 2em;
    left: 1em;
    border: 1px #5c5c5c solid;
    padding: 8px;
    color: rgb(202, 202, 202);
    background-color: #363636;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 18px;
    cursor: default;
    font-size: .6em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.text-highlight {
    color: #ff004f;
}

.font-size-small {
    font-size: .85vw;
}

.text-less {
    color: rgb(182, 182, 182);
}

@media screen and (max-width: 1180px) {
    .font-size-small {
        font-size: 11px;
    }
}